/*
Mobile Device CSS
*/
* {
	background-color: hsla(155,75%,75%,0.1);
    color: navy;
}



a:hover, input:hover {
  background: #B1ADAC;
  
  transition: background .5s;  
}


header{
	
	text-align: center;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	font-family: 'Pinyon Script', cursive;
	font-size: 16px;
	position: relative;
	
  
}



h1{
clear: left;
text-align: center;
font-size: 20px;

}


p{
clear: left;
text-align: center;
font-size: 13px;

}



ul, ol {
    text-align: center;
	list-style-position: inside;
	font-size: 13px;
}


body {
	
	font-family: 'Fredricka the Great', cursive;
	
}


img {
	width: 100px;
	height: 100px;
	margin: 10px;
	border-radius: 10px 10px;
	box-shadow: 5px 5px 5px gray;
	position: relative;
	display: block;
	margin-left: auto;
    margin-right: auto;
	
}


 textarea{
    width:auto;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
	font-size: 10px; 
}


input[type=text]{
	width: auto;
}



form{
	text-align: center;
	border: 1px double black;
	font-size: 13px;	 
	width: auto;
	
}




button{
	font-size: 10px;	
}

.navbutton{
	width: 50px;
	height:20px;
	border: 1px solid grey;
}

nav {
	
	display: flex;
	flex-direction: column;
	float: left;	
	
}
	
	



/*
-----------------------------------------------------------------------------------------------------------------------
Desktop CSS
*/

@media screen and (min-width:768px) {

* {
	background-color: hsla(155,75%,75%,0.1);
    color: navy;
}



a:hover {
  background: #B1ADAC;
  cursor: pointer; 
  transition: background .5s;  
}





header{
	
	text-align: center;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	font-family: 'Pinyon Script', cursive;
	
	position: absolute;
    left: 50%;
    transform: translate(-50%, 0%); 



	
	
	
	
  
}

h1{
	font-size: 30px;
	
}

p{
	
	font-size: 17px;
}


ul, ol {
    text-align: center;
	list-style-position: inside;
	font-size: 17px;
}


body {
	
	font-family: 'Fredricka the Great', cursive;

	
}

.images{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
	
}

 textarea{
    width:400px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
	font-size: 13px;
    
    
}

input[type=text]{

	width: 300px;
	
	
}

img {
	width: 200px;
	height: 200px;
	margin: 10px;
	border-radius: 10px 10px;
	box-shadow: 5px 5px 5px gray;
	position: relative;
}




form{
	text-align: center;
	border: 1px double black;
	font-size: 16px;
	margin: 0 auto; 
	width: 550px;
}


button{
	clear: border;
	font-size: 13px;
	
	
}


.navbutton{
	width: 63px;
	height:20px;
	border: 1px solid grey;
}


nav {
	display:inline;
	float: right;	
}
	
	
}
























/*

 body, h1, h2, {
 font-size: 12px;}
}

 

 header{
	 
	 
 }
 	 

{
 img{
	 height: 70 px;
	 width: 70 px;
	 display: flex;
	 flex-wrap: wrap;
	 float: left;
	 
 }
 }


 @media screen and (max-width:768px) {
 input[type=text], textarea{

	width: 150px;
	
}

 }




 
 
 @media screen and (max-width:768px) {
.nav {
	float: left;	
} 
 }


